parameters:
    level: 7
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - "#Call to an undefined method RecursiveIteratorIterator..getSubPathName#"
        
    paths:
        - lib

